@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400);

body{
	margin: 0;
	font-family: "Roboto";
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

div.skrollr{
	position: fixed;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

div.fixed{
	position: fixed;
}

h1, h2{
	font-weight: 100;
}

.white{
	color: rgb(255, 255, 255);
}

.green{
	color: rgb(0, 255, 0);
}